---
import PopupLayout from '@/layouts/PopupLayout.astro';
---

<PopupLayout title="Arknights Sign-in Butler">
  <div id="popup-root"></div>
  <script>
    import '@/scripts/popup.tsx';
  </script>
</PopupLayout>